@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2");
}
@font-face {
  font-weight: 400;
  font-family: "Arial";
  src: url("../fonts/arial-narrow.woff2");
}
.fz-11 {
  font-size: 11px;
}

.mg-top-31 {
  margin-top: 31px;
}

.uppercase {
  text-transform: uppercase;
}

.content-container-artist {
  max-width: 1200px;
  margin: 0 auto;
}

.main-styles {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #CACACA;
  background-color: #08020D;
  margin: 0;
}

.p-text-index {
  text-align: center;
  color: #FFFFFF;
}

.p-text-artist {
  text-align: left;
  color: #FFFFFF;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.button {
  border-radius: 5px;
  color: inherit;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.input {
  box-sizing: border-box;
}

.relative {
  position: relative;
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2");
}
@font-face {
  font-weight: 400;
  font-family: "Arial";
  src: url("../fonts/arial-narrow.woff2");
}
.fz-11 {
  font-size: 11px;
}

.mg-top-31 {
  margin-top: 31px;
}

.uppercase {
  text-transform: uppercase;
}

.content-container-artist {
  max-width: 1200px;
  margin: 0 auto;
}

.main-styles {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #CACACA;
  background-color: #08020D;
  margin: 0;
}

.p-text-index {
  text-align: center;
  color: #FFFFFF;
}

.p-text-artist {
  text-align: left;
  color: #FFFFFF;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.button {
  border-radius: 5px;
  color: inherit;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.input {
  box-sizing: border-box;
}

.relative {
  position: relative;
}

.bg-wrapper-index {
  background: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.content-container {
  padding: 200px 0 200px 0;
}

.fz-h1 {
  font-size: 60px;
  line-height: 90px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.fz-h2 {
  font-size: 38px;
  line-height: 57px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.header-position {
  position: absolute;
  width: 100%;
  top: 25px;
  left: 0;
}
.header-position .header-content {
  margin: 0 auto;
  max-width: 1200px;
}
.header-position .header-content .header-main {
  flex: 0 1 501px;
}
.header-position .header-content .header-search {
  flex: 0 1 248px;
}

.header-main {
  align-items: center;
}
.header-main .main-logo {
  align-items: center;
  flex: 0 1 98px;
  margin-right: 10px;
}
.header-main .main-menu {
  flex: 0 1 313px;
}
.header-main .main-menu .menu-list {
  flex-wrap: wrap;
}
.header-main .main-menu .menu-list .menu-item {
  margin-right: 10px;
}

.menu-link:hover,
.logo-link:hover {
  color: #FFFFFF;
}

.input-header {
  border-radius: 50px;
  background-color: #3C3B3D;
  width: 100%;
  border: none;
  padding: 5px 10px;
}
.input-header:focus::placeholder {
  color: transparent;
}

.banner-form {
  flex-wrap: wrap;
  max-width: 570px;
  margin: 0 auto;
}
.banner-form .input-banner {
  flex: 0 1 270px;
  min-height: 50px;
  padding: 0 0 0 20px;
  border: 2px solid #CACACA;
  border-radius: 3px;
  margin-bottom: 1.5rem;
  background-color: transparent;
  color: #FFFFFF;
}
.banner-form .input-banner:focus::placeholder {
  color: transparent;
}
.banner-form .input-banner::placeholder {
  color: #FFFFFF;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.banner-form .button-green {
  flex-grow: 1;
  max-height: 57px;
  background-color: #34C176;
  border: none;
  padding: 21px 30px;
  font-family: "Arial", sans-serif;
}

@media (max-width: 545px) {
  .p-text-index {
    margin-left: 10px;
    margin-right: 10px;
  }
  .banner-form .input-banner,
  .banner-form .button-green {
    flex: 0 1 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 415px) {
  .fz-h1 {
    font-size: 30px;
    line-height: 45px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
  .fz-h2 {
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
}
@media (max-width: 415px) {
  .bg-wrapper-index {
    padding: 20px;
  }
  .bg-wrapper-index .header-position {
    max-height: 145px;
    top: 27px;
  }
  .bg-wrapper-index .header-position .header-content {
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    margin: 0 auto;
    width: 90.338%;
    min-height: 145px;
  }
  .bg-wrapper-index .header-position .header-content .header-main {
    flex-direction: column;
    flex: 0 1 102px;
    align-items: start;
  }
  .bg-wrapper-index .header-position .header-content .header-main .main-logo {
    min-width: 98px;
    flex: 0 0 24px;
  }
  .bg-wrapper-index .header-position .header-content .header-main .main-menu {
    flex: 0 0 61px;
  }
  .bg-wrapper-index .header-position .header-content .header-main .main-menu .menu-list {
    flex-direction: column;
  }
  .bg-wrapper-index .header-position .header-content .header-search {
    flex: 0 0 25px;
    margin-top: 18px;
    width: 100%;
  }
  .content-container {
    padding: 230px 0 181px 0;
  }
  .content-container .p-text-index {
    margin: 16px 0 16px 0;
  }
  .content-container .banner-form {
    justify-content: center;
  }
  .content-container .banner-form .input-banner,
  .content-container .banner-form .button-green {
    min-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .content-container .banner-form .button-green {
    padding: 21px 30px;
  }
  .content-container .input-banner {
    flex: 0 1 100%;
  }
}
@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2");
}
@font-face {
  font-weight: 400;
  font-family: "Arial";
  src: url("../fonts/arial-narrow.woff2");
}
.fz-11 {
  font-size: 11px;
}

.mg-top-31 {
  margin-top: 31px;
}

.uppercase {
  text-transform: uppercase;
}

.content-container-artist {
  max-width: 1200px;
  margin: 0 auto;
}

.main-styles {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #CACACA;
  background-color: #08020D;
  margin: 0;
}

.p-text-index {
  text-align: center;
  color: #FFFFFF;
}

.p-text-artist {
  text-align: left;
  color: #FFFFFF;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.button {
  border-radius: 5px;
  color: inherit;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.input {
  box-sizing: border-box;
}

.relative {
  position: relative;
}

.bg-wrapper-artist {
  background: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.content-container-artist {
  padding: 250px 0 223px 0;
}

.fz-h1 {
  font-size: 60px;
  line-height: 90px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.p-text-artist {
  margin-bottom: 48px;
}

.button-atist {
  width: 200px;
  height: 62px;
  color: #FFFFFF;
  font-size: 12.8px;
  border: none;
}

.button-atist.bg-blue {
  padding: 21px 96px 22px 67px;
}

.button-atist.bg-orange {
  padding: 21px 47px 22px 67px;
}

.buttons {
  max-width: 424px;
}

.bg-blue {
  background-color: #5328A1;
}

.bg-orange {
  background-color: #95390C;
}

.button-atist.bg-blue:before {
  content: " ";
  background: url("../images/play-button.svg"), no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 21px;
  left: 31px;
}

.button-atist.bg-orange:before {
  content: " ";
  background: url("../images/heart.svg"), no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 21px;
  left: 31px;
}

@media (max-width: 415px) {
  .fz-h1 {
    font-size: 30px;
    line-height: 45px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
  .content-container-artist {
    padding: 225px 0 224px 0;
  }
}
@media (max-width: 415px) {
  .bg-wrapper-artist {
    padding: 0 20px;
  }
  .bg-wrapper-artist .header-position {
    max-height: 145px;
  }
  .bg-wrapper-artist .header-position .header-content {
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    margin: 0 auto;
    width: 90.338%;
    min-height: 145px;
  }
  .bg-wrapper-artist .header-position .header-content .header-main {
    flex-direction: column;
    flex: 0 1 102px;
    align-items: start;
  }
  .bg-wrapper-artist .header-position .header-content .header-main .main-logo {
    min-width: 98px;
    flex: 0 0 24px;
  }
  .bg-wrapper-artist .header-position .header-content .header-main .main-menu {
    flex: 0 0 61px;
  }
  .bg-wrapper-artist .header-position .header-content .header-main .main-menu .menu-list {
    flex-direction: column;
  }
  .bg-wrapper-artist .header-position .header-content .header-search {
    flex: 0 0 25px;
    margin-top: 18px;
    width: 100%;
  }
  .bg-wrapper-artist .buttons {
    max-width: 200px;
    min-height: 148px;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .fz-h1 {
    font-size: 30px;
    line-height: 45px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
  .content-container-artist {
    padding: 225px 0 224px 0;
  }
}

/*# sourceMappingURL=style.css.map */
