@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.woff2");
}
@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.woff2");
}
@font-face {
  font-weight: 400;
  font-family: Arial;
  src: url("../fonts/arial-narrow.woff2");
}
.title-h3-news, .title-h3-pricing-style, .title-h3-artist, .h2-footer, .title-h2, .title-h1 {
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.title-h1 {
  font-size: 60px;
  line-height: 90px;
}

.title-h2 {
  font-size: 38px;
  line-height: 57px;
}

.h2-footer {
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.title-h3-artist {
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
}

@media (width <= 450px) {
  .title-h1 {
    font-size: 30px;
    line-height: 45px;
  }
  .title-h2 {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 48px;
  }
}
.button {
  border-radius: 5px;
  color: inherit;
  text-transform: uppercase;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  border: none;
}

.bg-blue {
  background-color: #5328A1;
}

.bg-orange {
  background-color: #95390C;
}

.mg-0 {
  margin: 0;
}

.mg-bot-48 {
  margin-bottom: 48px;
}

.mg-top-48 {
  margin-top: 48px;
}

.mg-r-16 {
  margin-right: 16px;
}

.mg-top-31 {
  margin-top: 31px;
}

.fz-11 {
  font-size: 11px;
}

.fz-12 {
  font-size: 12.8px;
}

.content-container-similar, .content-container-disc, .content-container-pop, .content-container-footer-bottom, .content-container-footer-top, .content-container-app, .content-container-news, .content-container-pricing {
  max-width: 1240px;
  margin: 0 auto;
  box-sizing: border-box;
}

.main-styles {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #CACACA;
  background-color: #08020D;
  margin: 0;
}

.p-text {
  text-align: center;
  color: #FFF;
}

.p-text-artist {
  text-align: left;
  color: #FFF;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.b-box {
  box-sizing: border-box;
}

.relative {
  position: relative;
}

.img-artist-big {
  max-width: 250px;
  max-height: 250px;
  margin-bottom: 18px;
}

.grid-content-artist-4col {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 250px));
  gap: 25px 50px;
  margin-right: 49px;
  justify-content: space-between;
  justify-items: center;
}

@media (width <= 450px) {
  .grid-content-artist-4col {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-content-artist-4col .img-artist-big {
    max-width: 100%;
  }
}
.content-container {
  padding: 200px 20px;
  background: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.header-main {
  align-items: center;
  flex: 0 1 501px;
}

.main-logo {
  align-items: center;
  flex: 0 1 98px;
  margin-right: 10px;
}
.main-logo .logo-link {
  color: #FFF;
}

.main-menu {
  flex: 0 1 313px;
}
.main-menu .menu-list {
  flex-wrap: wrap;
}

.menu-item {
  margin-right: 10px;
}
.menu-item:hover {
  color: #FFF;
}

.header-position {
  position: absolute;
  width: 100%;
  top: 25px;
  left: 0;
}
.header-position .header-content {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.header-position .header-content-style {
  text-transform: uppercase;
  font-size: 11px;
}

.header-search {
  flex: 0 1 248px;
}

.input-header-style {
  border-radius: 50px;
  border: none;
  background-color: #3C3B3D;
}
.input-header-style:focus::placeholder {
  color: transparent;
}

.input-header {
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
}

.input-banner {
  min-height: 50px;
  flex: 0 1 270px;
  box-sizing: border-box;
  padding: 0 0 0 20px;
  margin-bottom: 1.5rem;
}

.banner-form {
  max-width: 570px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.banner-form .input-banner-style {
  border: 2px solid #CACACA;
  border-radius: 3px;
  background-color: transparent;
  color: #FFF;
}
.banner-form .input-banner-style::placeholder {
  color: #FFF;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
}
.banner-form .input-banner-style:focus::placeholder {
  color: transparent;
}

.button-header-index {
  max-height: 57px;
  flex-grow: 1;
  padding: 21px 30px;
}

.button-green {
  background-color: #34C176;
  font-family: Arial, sans-serif;
}

@media (width <= 545px) {
  .p-text-index {
    margin-left: 10px;
    margin-right: 10px;
  }
  .banner-form .input-banner,
  .banner-form .button-header-index {
    flex: 0 1 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (width <= 584px) {
  .content-container {
    padding: 248px 20px 201px;
  }
  .content-container .title-h2-index {
    margin-bottom: 0;
  }
  .content-container .p-text-index {
    margin: 16px 0;
  }
  .content-container .input-banner {
    flex: 0 1 100%;
  }
  .content-container .banner-form {
    justify-content: center;
  }
  .content-container .banner-form .input-banner,
  .content-container .banner-form .button-header-index {
    min-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .content-container .banner-form .button-header-index {
    padding: 21px 30px;
  }
  .header-position {
    max-height: 145px;
    top: 25px;
  }
  .header-position .header-content {
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    min-height: 145px;
  }
  .header-position .header-content .header-main {
    flex-direction: column;
    flex: 0 1 106px;
    align-items: start;
  }
  .header-position .header-content .header-main .main-logo {
    min-width: 98px;
    flex: 0 0 24px;
  }
  .header-position .header-content .header-main .main-logo .logo-link {
    color: #FFF;
  }
  .header-position .header-content .header-main .main-menu {
    flex: 0 0 61px;
  }
  .header-position .header-content .header-main .main-menu .menu-list {
    flex-direction: column;
  }
  .header-position .header-content .header-search {
    flex: 0 0 25px;
    margin-top: 16px;
    width: 100%;
  }
}
.content-container-description {
  padding: 250px 20px 223px;
  background: url("../images/MortenHarket.png");
  background-position: center;
  background-size: cover;
}

.header-main-artist {
  align-items: center;
  flex: 0 1 501px;
}

.main-logo-artist {
  align-items: center;
  flex: 0 1 98px;
  margin-right: 10px;
}
.main-logo-artist .logo-link-artist {
  color: #FFF;
}

.main-menu-artist {
  flex: 0 1 313px;
}
.main-menu-artist .menu-list-artist {
  flex-wrap: wrap;
}

.menu-item-artist {
  margin-right: 10px;
}
.menu-item-artist:hover {
  color: #FFF;
}

.header-position-artist {
  position: absolute;
  width: 100%;
  top: 25px;
  left: 0;
}
.header-position-artist .header-content-artist {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.header-position-artist .header-content-artist-style {
  text-transform: uppercase;
  font-size: 11px;
}

.header-search-artist {
  flex: 0 1 248px;
}

.input-header-artist-style {
  border-radius: 50px;
  background-color: #3C3B3D;
  border: none;
}
.input-header-artist-style:focus::placeholder {
  color: transparent;
}

.input-header-artist {
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
}

.button-artist-style {
  font-size: 12.8px;
  color: #FFF;
  background-color: #5328A1;
}
.button-artist-style:hover {
  outline: 1px solid #FFF;
}

.button-artist {
  width: 200px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
}
.button-artist:first-child {
  margin-right: 1.5rem;
}
.button-artist .icon {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  filter: invert(1);
}

@media (width <= 415px) {
  .content-container-description {
    padding: 225px 20px 224px;
  }
  .content-container-description .buttons-artist {
    flex-direction: column;
  }
  .content-container-description .buttons-artist .button-artist:first-child {
    margin-bottom: 1.5rem;
  }
  .header-position-artist {
    max-height: 145px;
    top: 25px;
  }
  .header-position-artist .header-content-artist {
    min-height: 145px;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
  }
  .header-position-artist .header-content-artist .header-main-artist {
    flex-direction: column;
    align-items: start;
    flex: 0 1 106px;
  }
  .header-position-artist .header-content-artist .header-main-artist .main-logo-artist {
    min-width: 98px;
    flex: 0 0 24px;
  }
  .header-position-artist .header-content-artist .header-main-artist .main-menu-artist {
    flex: 0 0 61px;
  }
  .header-position-artist .header-content-artist .header-main-artist .main-menu-artist .menu-list-artist {
    flex-direction: column;
  }
  .header-position-artist .header-content-artist .header-search-artist {
    flex: 0 0 25px;
    margin-top: 16px;
    width: 100%;
  }
}
.content-container-pricing {
  padding: 100px 20px 0;
}

.pricing {
  margin: 48px 0 43px;
}

.bg-free {
  background: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.pricing-item {
  max-width: 30.75%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5rem;
  border-radius: 1rem;
}

.title-h3-pricing {
  font-size: 24px;
  line-height: 36px;
  margin: 24px 0 200px;
}

.title-h3-pricing-style {
  font-weight: 400;
}

.pricing-value {
  display: flex;
  align-items: start;
  margin: 0 0 40px;
}

.pricing-value-style {
  line-height: 1em;
  text-transform: uppercase;
  color: #FFF;
}

.pricing-value-style .mg-r-16 {
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.pricing-value-style span:last-child {
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
}

.link-price-style {
  text-decoration: none;
  border: 1px solid #FFF;
  color: #FFF;
}

.link-price {
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.p-pricing-footer {
  margin: 64px 0;
}

.p-text-pricing {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

@media (width <= 650px) {
  .content-container-pricing {
    max-width: 414px;
  }
  .title-h2-pricing {
    margin-bottom: 0;
  }
  .title-h3-pricing-style {
    font-size: 16px;
    line-height: 24px;
  }
  .title-h3-pricing {
    margin: 16px 0 200px;
  }
  .pricing {
    flex-direction: column;
    margin: 48px 0 40px;
  }
  .pricing-item {
    max-width: 100%;
    margin-bottom: 50px;
  }
  .pricing-item:last-child {
    margin-bottom: 0;
  }
  .pricing-value-style .mg-r-16 {
    font-size: 64px;
  }
  .pricing-value-style span:last-child {
    font-size: 32px;
  }
}
.content-container-news {
  padding: 100px 20px 0;
}

.title-h3-news {
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  text-transform: capitalize;
}

.news-item-style {
  color: #CACACA;
}

.news-item {
  margin-bottom: 65px;
}
.news-item:last-child {
  margin-bottom: 0;
}
.news-item .col {
  flex: 0 1 50%;
  max-height: 286px;
  margin-right: 50px;
}
.news-item .col:last-child {
  margin-right: 0;
}

.news-img {
  max-width: 100%;
  object-fit: cover;
}

.news-text {
  margin: 30px 0 24px;
}

.news-item:last-child .news-text {
  margin: 30px 0 15px;
}

.news-author {
  max-width: 187px;
}
.news-author span:first-of-type {
  color: #F89202;
}

.link-news-style {
  border: 1px solid #CACACA;
  text-decoration: none;
  padding: 16px 30px;
}

.link-news {
  width: 135px;
  height: 53px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-img-bottom {
  margin-top: 83px;
}

@media (width <= 1000px) {
  .content-container-news {
    max-width: 960px;
  }
  .news-item {
    flex-wrap: wrap;
  }
  .news-item:last-child .news-text {
    margin: 16px 0;
  }
  .news-item .col {
    flex: 0 1 100%;
    margin: 0 0 50px;
  }
  .news-item .col:last-child {
    margin-bottom: 0;
  }
  .news-item .col .news-text {
    margin: 16px 0 24px;
  }
  .news-item .col .news-text .news-text:last-child {
    margin: 16px 0;
  }
  .news-item:last-child {
    flex-direction: column-reverse;
  }
  .news-item:last-child .col {
    margin: 0;
  }
  .news-item:last-child .col:last-child {
    margin: 0 0 50px;
  }
}
@media (width <= 550px) {
  .content-container-news {
    max-width: 414px;
  }
  .title-h3-news {
    font-size: 16px;
    line-height: 24px;
  }
  .news-item {
    flex-wrap: wrap;
  }
  .news-item:last-child .news-text {
    margin: 16px 0;
  }
  .news-item .col {
    flex: 0 1 100%;
    margin: 0 0 50px;
  }
  .news-item .col:last-child {
    margin-bottom: 0;
  }
  .news-item .col .news-text {
    margin: 16px 0 24px;
  }
  .news-item .col .news-text .news-text:last-child {
    margin: 16px 0;
  }
  .news-item:last-child {
    flex-direction: column-reverse;
  }
  .news-item:last-child .col {
    margin: 0;
  }
  .news-item:last-child .col:last-child {
    margin: 0 0 50px;
  }
}
.content-container-app {
  padding: 100px 20px 0;
  margin-bottom: 100px;
}

.col-app {
  flex: 0 1 50%;
}

.button-app-style {
  border-radius: 32px;
  background-color: #95390C;
  color: #FFF;
}

.button-app {
  width: 131px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-app {
  position: relative;
  top: 0;
  right: -123px;
  vertical-align: middle;
}

@media (width <= 913px) {
  .content-container-app {
    max-width: 873px;
  }
  .wrapper-app {
    flex-direction: column-reverse;
  }
  .col-app {
    max-width: 100%;
    margin: 0 auto;
  }
  .img-app {
    position: static;
    vertical-align: middle;
  }
}
@media (width <= 550px) {
  .content-container-app {
    max-width: 414px;
  }
  .wrapper-app {
    flex-direction: column-reverse;
  }
  .col-app {
    margin: 0 auto;
    max-width: 100%;
  }
  .img-app {
    position: static;
    vertical-align: middle;
  }
}
.content-container-footer-top {
  padding: 0 20px;
}

.content-container-footer-bottom {
  padding: 0 20px;
}

.bg-wrapper-footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  padding: 62px 0 72px;
}

.mg-b-20 {
  margin-bottom: 20px;
}

.footer-list {
  color: #E0E0E0;
  font-weight: 400;
}

.list-link:hover {
  color: #FFF;
}

.mg-left-24 {
  margin-right: 24px;
}

.bg-wrapper-footer::after {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 272px;
  background-color: #CACACA;
  content: "";
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.help-add .footer-list {
  max-width: 438px;
}

.help-add {
  padding: 42px 0 49px;
}

@media (width <= 650px) {
  .content-container-footer-top,
  .content-container-footer-bottom {
    max-width: 414px;
  }
  .footer-top {
    display: grid;
    grid-template-rows: 1fr 1fr auto auto;
    grid-template-columns: 1fr;
    row-gap: 30px;
    padding: 62px 0 75px;
  }
  .bg-wrapper-footer::after {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 686px;
    left: 0;
    background-color: #CACACA;
    content: "";
  }
  .h2-footer {
    margin-bottom: 16px;
  }
  .help-add {
    padding: 42px 0 47px;
  }
  .help-add .footer-list {
    flex-direction: column;
    justify-content: space-between;
    height: 184px;
  }
  .help-add .footer-list .list-item {
    flex-grow: 1;
  }
}
.content-container-pop {
  padding: 100px 20px 0;
}

.img-pop {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}

.pop-content-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 25px 50px;
  margin-right: 50px;
}
.pop-content-wrapper .popular-track {
  max-width: 551px;
}
.pop-content-wrapper .popular-track .track-info {
  flex: 0 1 481px;
  align-items: center;
  font-size: 12.8px;
}
.pop-content-wrapper .popular-track .track-info .title-pop-track {
  font-size: 12.8px;
  text-transform: uppercase;
}

@media (width <= 650px) {
  .pop-content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin-right: 0;
  }
  .pop-content-wrapper .popular-track {
    width: 100%;
  }
  .pop-content-wrapper .popular-track .track-info {
    width: 81.283%;
  }
}
@media (width <= 414px) {
  .content-container-pop {
    max-width: 414px;
  }
}
.content-container-disc {
  padding: 100px 20px 0;
}

@media (width <= 550px) {
  .content-container-disc {
    max-width: 414px;
  }
}
.content-container-similar {
  padding: 100px 20px 100px 20px;
}

@media (width <= 550px) {
  .content-container-similar {
    max-width: 414px;
  }
}

/*# sourceMappingURL=style.css.map */
