@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2");
}
@font-face {
  font-weight: 400;
  font-family: "Arial";
  src: url("../fonts/arial-narrow.woff2");
}
.mg-0 {
  margin: 0;
}

.mg-top-48 {
  margin-top: 48px;
}

.fz-11 {
  font-size: 11px;
}

.mg-top-31 {
  margin-top: 31px;
}

.uppercase {
  text-transform: uppercase;
}

.content-container-similar, .content-container-disc, .content-container-pop, .content-container-footer-bottom, .content-container-footer-top, .content-container-app, .content-container-news, .content-container-pricing, .content-container-description {
  max-width: 1240px;
  margin: 0 auto;
  box-sizing: border-box;
}

.main-styles {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #CACACA;
  background-color: #08020D;
  margin: 0;
}

.p-text {
  text-align: center;
  color: #FFFFFF;
}

.p-text-artist {
  text-align: left;
  color: #FFFFFF;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.input {
  box-sizing: border-box;
}

.relative {
  position: relative;
}

.title-h2-artist {
  font-size: 38px;
  line-height: 57px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 48px;
}

.title-h3-artist {
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  text-transform: capitalize;
}

.img-artist-big {
  max-width: 250px;
  max-height: 250px;
  margin-bottom: 18px;
}

.grid-content-artist-4col {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 250px));
  column-gap: 50px;
  row-gap: 25px;
  margin-right: 49px;
  justify-content: space-between;
  justify-items: center;
}

@media (max-width: 450px) {
  .bg-wrapper-mob .title-h1 {
    font-size: 30px;
    line-height: 45px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
  .title-h2-artist {
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 48px;
  }
  .grid-content-artist-4col {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-content-artist-4col .img-artist-big {
    max-width: 100%;
  }
}
.title-h1 {
  font-size: 60px;
  line-height: 90px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.button {
  border-radius: 5px;
  color: inherit;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  border: none;
}

.bg-blue {
  background-color: #5328A1;
}

.bg-orange {
  background-color: #95390C;
}

.bg-wrapper-index {
  background: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.content-container {
  padding: 200px 20px 200px 20px;
}

.fz-h2 {
  font-size: 38px;
  line-height: 57px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.header-position {
  position: absolute;
  width: 100%;
  top: 25px;
  left: 0;
}
.header-position .header-content {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 20px;
  box-sizing: border-box;
}
.header-position .header-content .header-main {
  flex: 0 1 501px;
}
.header-position .header-content .header-search {
  flex: 0 1 248px;
}

.header-main {
  align-items: center;
}
.header-main .main-logo {
  align-items: center;
  flex: 0 1 98px;
  margin-right: 10px;
}
.header-main .main-logo .logo-link {
  color: #FFFFFF;
}
.header-main .main-menu {
  flex: 0 1 313px;
}
.header-main .main-menu .menu-list {
  flex-wrap: wrap;
}
.header-main .main-menu .menu-list .menu-item {
  margin-right: 10px;
}

.menu-link:hover {
  color: #FFFFFF;
}

.input-header {
  border-radius: 50px;
  background-color: #3C3B3D;
  width: 100%;
  border: none;
  padding: 5px 10px;
}
.input-header:focus::placeholder {
  color: transparent;
}

.banner-form {
  flex-wrap: wrap;
  max-width: 570px;
  margin: 0 auto;
}
.banner-form .input-banner {
  flex: 0 1 270px;
  min-height: 50px;
  padding: 0 0 0 20px;
  border: 2px solid #CACACA;
  border-radius: 3px;
  margin-bottom: 1.5rem;
  background-color: transparent;
  color: #FFFFFF;
}
.banner-form .input-banner:focus::placeholder {
  color: transparent;
}
.banner-form .input-banner::placeholder {
  color: #FFFFFF;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.banner-form .button-green {
  flex-grow: 1;
  max-height: 57px;
  background-color: #34C176;
  border: none;
  padding: 21px 30px;
  font-family: "Arial", sans-serif;
}

@media (max-width: 545px) {
  .p-text-index {
    margin-left: 10px;
    margin-right: 10px;
  }
  .banner-form .input-banner,
  .banner-form .button-green {
    flex: 0 1 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 584px) {
  .bg-wrapper-index {
    padding: 20px;
  }
  .bg-wrapper-index .header-position {
    max-height: 145px;
    top: 25px;
  }
  .bg-wrapper-index .header-position .header-content {
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    min-height: 145px;
  }
  .bg-wrapper-index .header-position .header-content .header-main {
    flex-direction: column;
    flex: 0 1 106px;
    align-items: start;
  }
  .bg-wrapper-index .header-position .header-content .header-main .main-logo {
    min-width: 98px;
    flex: 0 0 24px;
  }
  .bg-wrapper-index .header-position .header-content .header-main .main-menu {
    flex: 0 0 61px;
  }
  .bg-wrapper-index .header-position .header-content .header-main .main-menu .menu-list {
    flex-direction: column;
  }
  .bg-wrapper-index .header-position .header-content .header-search {
    flex: 0 0 25px;
    margin-top: 16px;
    width: 100%;
  }
  .logo-link {
    color: #FFFFFF;
  }
  .bg-wrapper-mob .h1-mg {
    margin-top: 48px;
  }
  .content-container {
    padding: 180px 0 181px 0;
  }
  .content-container .p-text-index {
    margin: 16px 0 16px 0;
  }
  .content-container .banner-form {
    justify-content: center;
  }
  .content-container .banner-form .input-banner,
  .content-container .banner-form .button-green {
    min-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .content-container .banner-form .button-green {
    padding: 21px 30px;
  }
  .content-container .input-banner {
    flex: 0 1 100%;
  }
}
.bg-wrapper-description {
  background: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.content-container-description {
  padding: 250px 20px 223px 20px;
}

.header-position-artist {
  position: absolute;
  width: 100%;
  top: 25px;
  left: 0;
}
.header-position-artist .header-content-artist {
  max-width: 1240px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
}
.header-position-artist .header-content-artist .header-main-artist {
  flex: 0 1 501px;
}
.header-position-artist .header-content-artist .header-search-artist {
  flex: 0 1 248px;
}

.header-main-artist {
  align-items: center;
}
.header-main-artist .main-logo-artist {
  align-items: center;
  flex: 0 1 98px;
  margin-right: 10px;
}
.header-main-artist .main-logo-artist .logo-img-artist {
  width: 24px;
  height: 24px;
}
.header-main-artist .main-logo-artist .logo-link-artist {
  color: #FFFFFF;
}
.header-main-artist .main-menu-artist {
  flex: 0 1 313px;
}
.header-main-artist .main-menu-artist .menu-list-artist {
  flex-wrap: wrap;
}
.header-main-artist .main-menu-artist .menu-list-artist .menu-item-artist {
  margin-right: 10px;
}

.menu-link-artist:hover {
  color: #FFFFFF;
}

.input-header-artist {
  border-radius: 50px;
  background-color: #3C3B3D;
  width: 100%;
  border: none;
  padding: 5px 10px;
}
.input-header-artist:focus::placeholder {
  color: transparent;
}

.buttons-artist {
  margin-top: 48px;
}

.button-artist {
  width: 200px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 12.8px;
  color: #FFFFFF;
}
.button-artist:hover {
  outline: 1px solid #FFFFFF;
}
.button-artist:first-child {
  margin-right: 1.5rem;
}
.button-artist .icon {
  width: 20px;
  height: 20px;
  filter: invert(1);
  margin-right: 16px;
}

@media (max-width: 415px) {
  .content-container-description {
    padding: 225px 20px 224px 20px;
  }
  .content-container-description .buttons-artist {
    flex-direction: column;
  }
  .content-container-description .buttons-artist .button-artist:first-child {
    margin-bottom: 1.5rem;
  }
  .header-position-artist {
    max-height: 145px;
    top: 25px;
  }
  .header-position-artist .header-content-artist {
    min-height: 145px;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
  }
  .header-position-artist .header-content-artist .header-main-artist {
    flex-direction: column;
    align-items: start;
    flex: 0 1 106px;
  }
  .header-position-artist .header-content-artist .header-main-artist .main-logo-artist {
    min-width: 98px;
    flex: 0 0 24px;
  }
  .header-position-artist .header-content-artist .header-main-artist .main-menu-artist {
    flex: 0 0 61px;
  }
  .header-position-artist .header-content-artist .header-main-artist .main-menu-artist .menu-list-artist {
    flex-direction: column;
  }
  .header-position-artist .header-content-artist .header-search-artist {
    flex: 0 0 25px;
    margin-top: 16px;
    width: 100%;
  }
}
.content-container-pricing {
  padding: 100px 20px 0 20px;
}

.bg-wrapper-pricing {
  background-color: #08020D;
}

.pricing {
  margin: 48px 0 43px 0;
}

.bg-free {
  background: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.pricing-item {
  max-width: 30.75%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5rem;
  border-radius: 1rem;
}

.fz-h3 {
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
  margin: 24px 0 200px 0;
}

.pricing-value {
  margin: 0 0 40px 0;
  line-height: 1em;
  display: flex;
  align-items: start;
  text-transform: uppercase;
  color: #FFFFFF;
}

.pricing-value span:first-child {
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  margin-right: 16px;
}

.pricing-value span:last-child {
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
}

.p-text-pricing {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

.link-price {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 66px;
  text-decoration: none;
  border: 1px solid var(--White, #FFF);
  color: #FFFFFF;
}

.p-pricing-footer {
  margin: 64px 0;
}

.p-pricing-footer {
  font-size: 12.8px;
  font-weight: 400;
}

@media (max-width: 650px) {
  .content-container-pricing {
    max-width: 414px;
  }
  .fz-h2 {
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
  .fz-h3 {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
  .pricing-title {
    margin: 16px 0 200px 0;
  }
  .pricing {
    flex-direction: column;
    margin: 48px 0 40px 0;
  }
  .pricing-item {
    max-width: 100%;
    margin-bottom: 50px;
  }
  .pricing-item:last-child {
    margin-bottom: 0px;
  }
  .pricing-value span:first-child {
    font-size: 64px;
  }
  .pricing-value span:last-child {
    font-size: 32px;
  }
}
.content-container-news {
  padding: 100px 20px 0 20px;
}

.bg-wrapper-news {
  background-color: #08020D;
}

.news-title {
  margin-bottom: 48px;
}

.fz-h3-news {
  font-size: 30px;
  line-height: 45px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
  text-transform: capitalize;
}

.news-item {
  color: #CACACA;
  margin-bottom: 65px;
}
.news-item:last-child {
  margin-bottom: 0;
}
.news-item .col {
  flex: 0 1 50%;
  max-height: 286px;
  margin-right: 50px;
}
.news-item .col:last-child {
  margin-right: 0;
}

.news-img {
  max-width: 100%;
  object-fit: cover;
}

.news-text {
  margin: 30px 0 24px 0;
  font-size: 16px;
}

.news-item:last-child .news-text {
  margin: 30px 0 15px 0;
}

.news-author {
  max-width: 187px;
  font-size: 12.8px;
}

.news-author span:first-of-type {
  color: #F89202;
}

.link-news {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 53px;
  border: 1px solid #CACACA;
  text-decoration: none;
  font-size: 12.8px;
  padding: 16px 30px;
  box-sizing: border-box;
  margin-top: 48px;
}

.news-img-bottom {
  margin-top: 83px;
}

@media (max-width: 1000px) {
  .content-container-news {
    max-width: 960px;
  }
  .news-wrapper .news-item:last-child .news-text {
    margin: 16px 0 16px 0;
  }
  .news-item {
    flex-wrap: wrap;
  }
  .news-item:last-child {
    flex-direction: column-reverse;
  }
  .news-item:last-child .col {
    margin: 0;
  }
  .news-item:last-child .col:last-child {
    margin: 0 0 50px 0;
  }
  .news-item .col {
    flex: 0 1 100%;
    margin: 0 0 50px 0;
  }
  .news-item .col:last-child {
    margin-bottom: 0;
  }
  .news-item .col .news-text {
    margin: 16px 0 24px 0;
  }
  .news-item .col .news-text .news-text:last-child {
    margin: 16px 0 16px 0;
  }
}
@media (max-width: 550px) {
  .content-container-news {
    max-width: 414px;
  }
  .fz-h2-news {
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
  .news-title {
    margin-bottom: 48px;
  }
  .fz-h3-news {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    font-weight: 400;
    text-transform: capitalize;
  }
  .news-wrapper .news-item:last-child .news-text {
    margin: 16px 0 16px 0;
  }
  .news-item {
    flex-wrap: wrap;
  }
  .news-item:last-child {
    flex-direction: column-reverse;
  }
  .news-item:last-child .col {
    margin: 0;
  }
  .news-item:last-child .col:last-child {
    margin: 0 0 50px 0;
  }
  .news-item .col {
    flex: 0 1 100%;
    margin: 0 0 50px 0;
  }
  .news-item .col:last-child {
    margin-bottom: 0;
  }
  .news-item .col .news-text {
    margin: 16px 0 24px 0;
  }
  .news-item .col .news-text .news-text:last-child {
    margin: 16px 0 16px 0;
  }
}
.content-container-app {
  padding: 100px 20px 0 20px;
  margin-bottom: 100px;
}

.bg-wrapper-app {
  background-color: #08020D;
}

.title-app {
  margin-bottom: 48px;
}

.col-app {
  flex: 0 1 50%;
}

.button-app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 131px;
  height: 53px;
  border: none;
  border-radius: 32px;
  background-color: #95390C;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 12.8px;
  text-decoration: none;
}

.img-app {
  position: relative;
  top: 0;
  right: -123px;
  vertical-align: middle;
}

@media (max-width: 913px) {
  .content-container-app {
    max-width: 873px;
  }
  .wrapper-app {
    flex-direction: column-reverse;
  }
  .title-app {
    margin-bottom: 48px;
  }
  .col-app {
    margin: 0 auto;
    max-width: 100%;
  }
  .img-app {
    position: static;
    vertical-align: middle;
  }
}
@media (max-width: 550px) {
  .content-container-app {
    max-width: 414px;
  }
  .fz-h2 {
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
  .wrapper-app {
    flex-direction: column-reverse;
  }
  .title-app {
    margin-bottom: 48px;
  }
  .col-app {
    margin: 0 auto;
    max-width: 100%;
  }
  .img-app {
    position: static;
    vertical-align: middle;
  }
}
.content-container-footer-top {
  padding: 0 20px 0 20px;
}

.content-container-footer-bottom {
  padding: 0 20px 0 20px;
}

.bg-wrapper-footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  padding: 62px 0 72px 0;
}

.fz-h2-footer {
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.mg-b-20 {
  margin-bottom: 20px;
}

.footer-list {
  color: #E0E0E0;
  font-weight: 400;
}

.list-link:hover {
  color: #FFFFFF;
}

.mg-left-24 {
  margin-right: 24px;
}

.bg-wrapper-footer::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #CACACA;
  position: absolute;
  top: 272px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.help-add .footer-list {
  max-width: 438px;
}

.help-add {
  padding: 42px 0 49px 0;
}

@media (max-width: 650px) {
  .content-container-footer-top,
  .content-container-footer-bottom {
    max-width: 414px;
  }
  .footer-top {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr auto-fill;
    grid-template-columns: 1fr;
    row-gap: 30px;
    padding: 62px 0 75px 0;
  }
  .bg-wrapper-footer::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #CACACA;
    position: absolute;
    top: 686px;
    left: 0;
  }
  .fz-h2-footer {
    margin-bottom: 16px;
  }
  .help-add {
    padding: 42px 0 47px 0;
  }
  .help-add .footer-list {
    flex-direction: column;
    justify-content: space-between;
    height: 184px;
  }
  .help-add .footer-list .list-item {
    flex-grow: 1;
  }
}
.content-container-pop {
  padding: 100px 20px 0 20px;
}

.img-pop {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}

.pop-content-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 25px;
  margin-right: 50px;
}
.pop-content-wrapper .popular-track {
  max-width: 551px;
}
.pop-content-wrapper .popular-track .track-info {
  flex: 0 1 481px;
  align-items: center;
  font-size: 12.8px;
}
.pop-content-wrapper .popular-track .track-info .title-pop-track {
  font-size: 12.8px;
  text-transform: uppercase;
}

@media (max-width: 650px) {
  .pop-content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin-right: 0;
  }
  .pop-content-wrapper .popular-track {
    width: 100%;
  }
  .pop-content-wrapper .popular-track .track-info {
    width: 81.283%;
  }
}
@media (max-width: 414px) {
  .content-container-pop {
    max-width: 414px;
  }
}
.content-container-disc {
  padding: 100px 20px 0 20px;
}

@media (max-width: 550px) {
  .content-container-disc {
    max-width: 414px;
  }
}
.content-container-similar {
  padding: 100px 20px 100px 20px;
}

@media (max-width: 550px) {
  .content-container-similar {
    max-width: 414px;
  }
}

/*# sourceMappingURL=style.css.map */
