.content-container-disc {
    @extend %content-container;
    @include pg-section($pg-100, 0, 0, 0);
}

.bg-wrapper-disc {
    background-color: $bg-black; // надо ли указывать ??
}

// .discography-item {
//     height: 319px;    если не ставил высоту то в карточке была общая высота на 6 пикселей больше
// }
.fz-h2-disc {
    @include title-font($fz-title-h2);
}

.title-disc {
    margin-bottom: 48px;
}

.discography-item {
    display: flex;
    flex-direction: column;
}


.img-disc {
    width: 250px;
    height: 250px;
    margin-bottom: 18px;
}

.title-disc-item {
    @include title-font($fz-title-h3-disc);
    text-transform: capitalize;
}

.disc-content-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    row-gap: 25px;
    margin-right: 49px;   // при 50 не помещался заголовок
}


@media (max-width: 729px) {
    .bg-wrapper-disc {
        padding: 0 20px;
    }

    .fz-h2-disc {
        @include title-font($fx-title-mob-h2);
    }

    .title-disc {
        margin-bottom: 48px;
    }

    .disc-content-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);       

      
        .img-disc {
            width: 137px;
            height: 137px;
        }       
    
    }  
}