.content-container-pop {
    @extend %content-container;
    @include pg-section($pg-100, 0, 0, 0);
}

.bg-wrapper-pop {
    background-color: $bg-black; // надо ли указывать ??
}

.title-pop {
    margin-bottom: 48px;
}

.track-info {
    // width: 481px;
    flex: 0 1 481px;
    align-items: center;
    font-size: 12.8px;
}

.title-pop-track {
    margin: 0;
    font-size: 12.8px;
    text-transform: uppercase;
    color: $color-white;
}
// .img-pop {
//     max-width: 100%;
//     object-fit: contain;
// }
.popular-track {
    max-width: 551px;
}

.img-pop {
    margin-right: 15px;
}

.pop-content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 25px;
    column-gap: 50px;
    margin-right: 50px;
}



@media (max-width: 729px) {
    .bg-wrapper-pop {
        padding: 0 20px;
    }

    .fz-h2-pop {
        @include title-font($fx-title-mob-h2);
    }

    .pop-content-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        // row-gap: 25px;
        // column-gap: 50px;
        margin-right: 0;
        .popular-track {
            // width: 90.338%;
            width: 100%;
            .track-info {
                width: 81.283%;
            }
        }
    }

    .title-pop {
        margin-bottom: 48px;
    }

    .fz-h3-news {
        @include title-font($fx-title-mob-h3);
        font-weight: 400;
        text-transform: capitalize;
    }
}