.content-container-pop {
    @extend %content-container;
    @include pg-section($pg-100, 0, 0, 0);
}

.bg-wrapper-pop {
    background-color: $bg-black; // надо ли указывать ??
}

.title-pop {
    margin-bottom: 48px;
}

.track-info {
    width: 481px;
    align-items: center;
    font-size: 12.8px;
}

.title-pop-track {
    margin: 0;
    font-size: 12.8px;
    text-transform: uppercase;
    color: $color-white;
}
.img-pop {
    max-width: 100%;
    object-fit: contain;
}
.popular-track {
    width: 551px;
}

.pop-content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 25px;
    column-gap: 50px;
    margin-right: 50px;
}