@import "./variables.scss";

@font-face {
    font-weight: 400;
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff2");
}

@font-face {
    font-weight: 700;
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.woff2");
}

@font-face {
    font-weight: 400;
    font-family: "Arial";
    src: url("../fonts/arial-narrow.woff2");
}

.mg-0 {
    margin: 0;
}



.fz-11 {
    font-size: 11px;
}

.mg-top-31 {
    margin-top: 31px;
}

.uppercase {
    text-transform: uppercase;
}

%content-container {
    max-width: 1200px;
    margin: 0 auto;
}

@mixin bg-wrapper($bg-name) {
    background: url("../images/#{$bg-name}.png");
    background-position: center;
    background-size: cover;
}

@mixin pg-section($pg-top, $pg-right, $pg-bottom, $pg-left) {
    padding: $pg-top $pg-right $pg-bottom $pg-left;
}

.main-styles {
    font-family: "Roboto", sans-serif;
    line-height: $lh;
    font-size: $fz;


    color: $color-gray-light;
    background-color: $bg-black;
    margin: 0;
}

@mixin title-font($fz-title) {
    font-size: $fz-title;
    line-height: $fz-title * 1.5;
    color: $color-white;
    font-weight: bold; // убрать потом ? чтобы ставить отдельно болд если нужно?
    text-transform: uppercase;
    margin: 0;
}

.p-text {
    text-align: center;
    color: $color-white;
}

.p-text-artist {
    text-align: left;
    color: $color-white;
}


.text-left {
    text-align: left;
}


.text-center {
    text-align: center;
}



.button {
    border-radius: 5px;
    color: inherit;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    // text-align: center;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


.flex-between {
    display: flex;
    justify-content: space-between;
}

.input {
    box-sizing: border-box;
}

.relative {
    position: relative;
}

// For mobile===================================

@mixin padding-mobile {
    padding: 0 20px;
}


// ARTIST desktop======================================

.title-h2-artist {
    @include title-font($fz-title-h2);
    margin-bottom: 48px;
}

.title-h3-artist {
    @include title-font($fz-title-h3-artist);
    text-transform: capitalize;
}

.img-artist-big {
    max-width: 250px;
    max-height: 250px;
    margin-bottom: 18px;
    // object-fit: none;
}



.grid-content-artist-4col {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(137px, 250px));   // ???
    column-gap: 50px;
    row-gap: 25px;
    margin-right: 49px; // при 50 не помещался заголовок
    justify-content: space-between;
    justify-items: center;
}

// ARTIST mobile ======================================


@media (max-width: 450px) {

    .bg-wrapper-4col {
        @include padding-mobile;
    }

    .title-h2-artist {
        @include title-font($fx-title-mob-h2);
        margin-bottom: 48px;
    }

    .grid-content-artist-4col {
        grid-template-columns: repeat(2, 1fr);

        .img-artist-big {
            width: 137px;
            height: 137px;
        }

    }

}