@import "./variables";

@font-face {
    font-weight: 400;
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.woff2");
}

@font-face {
    font-weight: 700;
    font-family: Roboto;
    src: url("../fonts/Roboto-Bold.woff2");
}

@font-face {
    font-weight: 400;
    font-family: Arial;
    src: url("../fonts/arial-narrow.woff2");
}

@mixin title-font($fz-title) {
    font-size: $fz-title;
    line-height: $fz-title * 1.5;
}

%title-styles {
    color: $color-white;
    font-weight: bold;
    text-transform: uppercase;
}

.title-h1 {
    @include title-font($fz-title-h1);
    @extend %title-styles;
}

.title-h2 {
    @include title-font($fz-title-h2);
    @extend %title-styles;
}

.h2-footer {
    @include title-font($fz-title-mob-h2);
    @extend %title-styles;
}

.title-h3-artist {
    @include title-font($fz-title-h3-artist);
    @extend %title-styles;
    text-transform: capitalize;
}

@media (width <=450px) {
    .title-h1 {
        @include title-font($fz-title-mob-h1);
        @extend %title-styles;
    }

    .title-h2 {
        @include title-font($fz-title-mob-h2);
        @extend %title-styles;
        margin-bottom: $mg-48;
    }
}

.button {
    border-radius: 5px;
    color: inherit;
    text-transform: uppercase;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    border: none;
}

.bg-blue {
    background-color: $bg-blue;
}

.bg-orange {
    background-color: $bg-orange;
}

.mg-0 {
    margin: 0;
}

.mg-bot-48 {
    margin: 0 0 $mg-48;
}

.mg-top-48 {
    margin-top: 48px;
}

.mg-bot-15 {
    margin: 0 0 15px;
}

.mg-r-16 {
    margin-right: 16px;
}

.mg-top-31 {
    margin-top: 31px;
}

.fz-11 {
    font-size: 11px;
}

.fz-12 {
    font-size: 12.8px;
}

.fz-32 {
    font-size: 32px;
    line-height: 32px;
}

.fz-64 {
    font-size: 64px;
    line-height: 64px;
}

%content-container {
    max-width: 1240px;
    margin: 0 auto;
    box-sizing: border-box;
}

@mixin bg-wrapper($bg-name) {
    background: url("../images/#{$bg-name}.png");
    background-position: center;
    background-size: cover;
}

@mixin pg-section($pg-top: null, $pg-right: null, $pg-bottom: null, $pg-left: null) {
    padding: $pg-top $pg-right $pg-bottom $pg-left;
}

.main-styles {
    font-family: Roboto, sans-serif;
    line-height: $lh;
    font-size: $fz;


    color: $color-gray-light;
    background-color: $bg-black;
    margin: 0;
}

.content-container {
    @extend %content-container;
    @include pg-section($pg-100, $pg-20, 0);
}

// сетка для main-app и main-news

.grid-content-index-2col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (width <=650px) {
    .grid-content-index-2col {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 1fr;
    }
}

.mg-bot-100 {
    margin-bottom: 100px;
}

.pg-bot-100 {
    padding-bottom: $pg-100;
}

.p-text {
    text-align: center;
    color: $color-white;
}

.p-text-artist {
    text-align: left;
    color: $color-white;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


.flex-between {
    display: flex;
    justify-content: space-between;
}

.relative {
    position: relative;
}

// ARTIST desktop======================================

.img-artist-big {
    margin-bottom: 18px;
}

.grid-content-artist-4col {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 250px)); // ???
    gap: 25px 50px;
    margin-right: 49px; // при 50 не помещался заголовок
    justify-content: space-between;
    justify-items: center;
}

// ARTIST mobile ======================================

@mixin button-artist-icon($icon-name) {
    // если иконку не нужно ставить в html то псевдоэлемент
    content: " ";
    background: url("../images/#{$icon-name}"),
    no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 21px;
    left: 31px;
    filter: invert(1);
}

// сетка для artist-discography + artist-similar

@media (width <=450px) {
    .grid-content-artist-4col {
        grid-template-columns: repeat(2, 1fr);
    }

    .img-artist-big {
        max-width: 100%;
    }

}