@import "./general.scss";

.bg-wrapper-index {
    @include bg-wrapper($bg-banner);
}

.content-container {
    @include pg-section($pg-200, 0, $pg-200, 0);
}

.fz-h1 {
    @include title-font($fz-title-h1);
}

.fz-h2 {
    @include title-font($fz-title-h2);
}



.header-position {
    position: absolute;
    width: 100%;
    top: 25px;
    left: 0;

    .header-content {
        margin: 0 auto;
        max-width: 1200px;
        // width: 83.333%;

        .header-main {
            flex: 0 1 501px;
        }

        .header-search {
            flex: 0 1 248px; 
        }
    }
}

.header-main {
    align-items: center;

    .main-logo {
        align-items: center;
        flex: 0 1 98px;
        margin-right: 10px; //доп
    }

    .main-menu {
        flex: 0 1 313px;        

        .menu-list {
            flex-wrap: wrap;
            .menu-item {
                margin-right: 10px;  // Доп
            }
        }
    }
}

.menu-link:hover,
.logo-link:hover {
    color: $color-white;
}

.input-header {
    border-radius: 50px;
    background-color: $bg-gray;
    width: 100%;
    border: none;
    padding: 5px 10px;

    &:focus::placeholder {
        color: transparent;
    }
}



.banner-form {
    flex-wrap: wrap;
    max-width: 570px;
    margin: 0 auto;

    .input-banner {
        flex: 0 1 270px;
        min-height: 50px;
        padding: 0 0 0 $pg-20;
        border: 2px solid $color-gray-light;
        border-radius: 3px;
        margin-bottom: 1.5rem;
        background-color: transparent;
        color: $color-white;

        &:focus::placeholder {
            color: transparent;
        }

        &::placeholder {
            color: $color-white;
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            font-weight: bold;

        }
    }

    .button-green {
        flex-grow: 1;
        max-height: 57px;
        background-color: $bg-green;
        border: none;
    }

}

@media (max-width: 545px) {
    .p-text {
        margin: 0 10px 10px 10px; //доп
    }
    .banner-form {
        // flex-direction: column;
        .input-banner,
        .button-green {
            flex: 0 1 100%;
            margin-left: 10px;
            margin-right: 10px;
        }
        
    }
}

@media (max-width: 415px) {
    .fz-h1 {
        @include title-font($fx-title-mob-h1);
    }

    .fz-h2 {
        @include title-font($fx-title-mob-h2);
    }
}




@media (max-width: 415px) {

    .bg-wrapper-index {
        padding: $pg-20;


        .header-position {
            max-height: 145px;

            .header-content {
                flex-direction: column;
                align-items: flex-start;
                font-weight: bold;
                margin: 0 auto;
                width: 90.338%;
                min-height: 145px;

                .header-main {
                    flex-direction: column;
                    flex: 0 1 102px;
                    align-items: start;

                    .main-logo {
                        min-width: 98px;
                        flex: 0 0 24px;
                    }

                    .main-menu {
                        flex: 0 0 61px;

                        .menu-list {
                            flex-direction: column;

                        }
                    }

                }

                .header-search {
                    flex: 0 0 25px;
                    margin-top: 18px;
                    width: 100%;
                }

            }
        }

    }


    .content-container {
        @include pg-section($pg-230, 0, $pg-181, 0);

        .p-text {
            margin: 16px 0 0 0; 
        }

        .banner-form {
            justify-content: center;
            .input-banner,
        .button-green {
            min-width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        }

        .input-banner {
            flex: 0 1 100%;
        }

    }
}