@import "./general.scss";

.bg-wrapper-artist {
    @include bg-wrapper($bg-artist);
}

.content-container-artist {
    @extend %content-container;
    // @include pg-section($pg-200, 0, $pg-200, 0);
    @include pg-section($pg-250, 0, $pg-223, 0);
}

.fz-h1 {
    @include title-font($fz-title-h1);
}
.p-text-artist {
    margin-bottom: 48px;
}



.button-atist {
    width: 200px;
    height: 62px;        

    color: $color-white;    
    font-size: 12.8px;    
    border: none;
}

.button-atist.bg-blue {
    padding: 21px 96px 22px 67px;  
}

.button-atist.bg-orange {
    padding: 21px 47px 22px 67px;  
}
// .button-atist:first-of-type {
//     margin: 0 $mg-24 0 0;
// }

.buttons {
    max-width: 424px;
}

.bg-blue {
    background-color: $bg-blue;
}

.bg-orange {
    background-color: $bg-orange;
}




.button-atist.bg-blue:before {
    content: " ";
    background: url("../images/play-button.svg"), no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 21px;
    left: 31px;
   
    
}

.button-atist.bg-orange:before {
    content: " ";
    background: url("../images/heart.svg"), no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 21px;
    left: 31px;    
}





// .mg-right-24 {
//     margin-right: $mg-24;   убрал класс
// }






@media (max-width: 415px) {
    .fz-h1 {
        @include title-font($fx-title-mob-h1);
    }
    .content-container-artist {
        @include pg-section($pg-225, 0, $pg-224, 0);
    }



}



@media (max-width: 415px) {

    .bg-wrapper-artist {
        padding: 0 $pg-20;


        .header-position {
            max-height: 145px;

            .header-content {
                flex-direction: column;
                align-items: flex-start;
                font-weight: bold;
                margin: 0 auto;
                width: 90.338%;
                min-height: 145px;

                .header-main {
                    flex-direction: column;
                    flex: 0 1 102px;
                    align-items: start;

                    .main-logo {
                        min-width: 98px;
                        flex: 0 0 24px;
                    }

                    .main-menu {
                        flex: 0 0 61px;

                        .menu-list {
                            flex-direction: column;

                        }
                    }

                }

                .header-search {
                    flex: 0 0 25px;
                    margin-top: 18px;
                    width: 100%;
                }

            }
        }
        // .button-atist:first-of-type {
        //     margin: 0 0 $mg-24 0;
        // }
        .buttons {
            max-width: 200px;
            min-height: 148px;
            flex-wrap: wrap;
            align-content: space-between;

        }
        
    }
    .fz-h1 {
        @include title-font($fx-title-mob-h1);
    }
    .content-container-artist {
        @include pg-section($pg-225, 0, $pg-224, 0);
    }
    
    
}