@import "./general.scss";

.bg-wrapper-artist {
    @include bg-wrapper($bg-artist);
}

.content-container-artist {
    @extend %content-container;
    // @include pg-section($pg-200, 0, $pg-200, 0);
    @include pg-section($pg-250, 0, $pg-223, 0);
}

.fz-h1 {
    @include title-font($fz-title-h1);
}
.p-text-artist {
    margin-bottom: 48px;
}


.button-atist {
    border-radius: 5px;
    padding: 21px 96px 22px 67px;
    color: $color-white;
    cursor: pointer;
    font-size: 12.8px;
    // line-height: 19.2px;
    border: none;
    width: 200px;
    height: 62px;
    text-align: center;
}

.button-atist.bg-blue:before {
    content: " ";
    background: url("../images/play-button.svg") no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 21px;
    left: 31px;
   
    
}

.button-atist.bg-orange:before {
    content: " ";
    background: url("../images/heart.svg") no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 21px;
    left: 31px;    
}


.bg-blue {
    background-color: $bg-blue;
}

.bg-orange {
    background-color: $bg-orange;
}

.mg-right-24 {
    margin-right: $mg-24;
}






// .content-container-artist {
//     @include pg-section($pg-250, 0, $pg-223, 0);
// }

@media (max-width: 415px) {
    .fz-h1 {
        @include title-font($fx-title-mob-h1);
    }
    .content-container-artist {
        @include pg-section($pg-225, 0, $pg-224, 0);
    }



}



@media (max-width: 415px) {

    .bg-wrapper-artist {
        padding: $pg-20;


        .header-position {
            max-height: 145px;

            .header-content {
                flex-direction: column;
                align-items: flex-start;
                font-weight: bold;
                margin: 0 auto;
                width: 90.338%;
                min-height: 145px;

                .header-main {
                    flex-direction: column;
                    flex: 0 1 102px;
                    align-items: start;

                    .main-logo {
                        min-width: 98px;
                        flex: 0 0 24px;
                    }

                    .main-menu {
                        flex: 0 0 61px;

                        .menu-list {
                            flex-direction: column;

                        }
                    }

                }

                .header-search {
                    flex: 0 0 25px;
                    margin-top: 18px;
                    width: 100%;
                }

            }
        }

    }
    .fz-h1 {
        @include title-font($fx-title-mob-h1);
    }
    .content-container-artist {
        @include pg-section($pg-225, 0, $pg-224, 0);
    }
    
}