.col-app {
    flex: 0 1 50%;
}

.button-app-style {
    border-radius: 32px;
    background-color: $bg-orange;
    color: $color-white;
}

.button-app {
    width: 131px;
    height: 53px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img-app {
    position: relative;
    top: 0;
    right: -123px; // не получается сделать так чтобы картинка с позиционированием влезала при уменьшении - поэтому добавил брекйпоинт
    vertical-align: middle;
}

@media (width <=913px) {
    .page-app {
        max-width: 873px;
    }

    .wrapper-app {
        flex-direction: column-reverse;
    }

    .col-app {
        max-width: 100%;
        margin: 0 auto;
    }

    .img-app {
        position: static;
        vertical-align: middle;

        // max-width: 100%;
        // display: block;
    }
}

@media (width <=550px) {
    .page-app {
        max-width: 414px;
    }

    .wrapper-app {
        flex-direction: column-reverse;
    }

    .col-app {
        margin: 0 auto;
        max-width: 100%;
    }

    .img-app {
        position: static;
        vertical-align: middle;

        // max-width: 100%;
        // display: block;
    }
}