.title-h3-news {
    @include title-font($fz-title-h3-news);
    @extend %title-styles;
    text-transform: capitalize;
    font-weight: 400;
}

.news-item-style {
    color: $color-gray-light;
}

.news-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    margin-bottom: 65px;

    &:last-child {
        margin-bottom: 0;
    }
}

.news-img {
    max-width: 100%;
}

.news-text {
    margin: 30px 0 24px;
}

.news-text-last {
    margin-bottom: 15px;
}

.news-author {
    max-width: 187px;
}

.news-author-theme {
    color: $color-orange;
    text-transform: uppercase;
}

.link-news-style {
    border: 1px solid $color-gray-light;
    text-decoration: none;
}

.link-news {
    display: inline-block;
    box-sizing: border-box;
    padding: 16px 30px;
}

@media (width <=650px) {
    .title-h3-news {
        @include title-font($fz-title-mob-h3);
    }

    .news-item {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 1fr;
        row-gap: 50px;
        margin-bottom: 65px;
        justify-items: stretch;
    }

    .news-item-row {
        grid-row: 2/ span 1;
    }

    .news-item-row-img {
        grid-row: 1 / span 1;
    }

    .news-text {
        margin: 16px 0 24px;
    }

    .news-text-last {
        margin-bottom: 16px;
    }
}
