// .bg-wrapper-index {
    
// }

.content-container {
    @include pg-section($pg-200, $pg-20);
    @include bg-wrapper($bg-banner);
}

.header-main {
    align-items: center;

    .main-logo {
        align-items: center;
        flex: 0 1 98px;
        margin-right: 10px; // доп

        .logo-link {
            color: $color-white;
        }
    }

    .main-menu {
        flex: 0 1 313px;

        .menu-list {
            flex-wrap: wrap;

            .menu-item {
                margin-right: 10px; // Доп
            }
        }
    }
}

.header-position {
    position: absolute;
    width: 100%;
    top: 25px;
    left: 0;

    .header-content {
        margin: 0 auto;
        max-width: 1240px;
        padding: 0 20px; // новое - поставил чтобы не прижимался хедер к краям - а в мобилке потом убрал вообще
        box-sizing: border-box; // новое

        .header-main {
            flex: 0 1 501px;
        }

        .header-search {
            flex: 0 1 248px;
        }
    }
}

.menu-link:hover {
    color: $color-white;
}

.input-header {
    border-radius: 50px;
    background-color: $bg-gray;
    width: 100%;
    border: none;
    padding: 5px 10px;


    &:focus::placeholder {
        color: transparent;
    }
}

.banner-form {
    flex-wrap: wrap;
    max-width: 570px;
    margin: 0 auto;

    .input-banner {
        flex: 0 1 270px;
        min-height: 50px;
        padding: 0 0 0 $pg-20;
        border: 2px solid $color-gray-light;
        border-radius: 3px;
        margin-bottom: 1.5rem;
        background-color: transparent;
        color: $color-white;

        &::placeholder {
            color: $color-white;
            font-size: 14px;
            font-family: Roboto, sans-serif;
            font-weight: bold;
        }

        &:focus::placeholder {
            color: transparent;
        }
    }

    .button-green {
        flex-grow: 1;
        max-height: 57px;
        background-color: $bg-green;
        border: none;
        padding: 21px 30px;
        font-family: Arial, sans-serif;
    }

}

@media (width <=545px) {
    .p-text-index {
        margin-left: 10px; // доп
        margin-right: 10px; // доп
    }

    .banner-form {
        .input-banner,
        .button-green {
            flex: 0 1 100%;
            margin-left: 10px;
            margin-right: 10px;
        }

    }
}

@media (width <=584px) {
    // .bg-wrapper-index {
    //     padding: $pg-20;

        .header-position {
            max-height: 145px;
            top: 25px;


            .header-content {
                flex-direction: column;
                align-items: flex-start;
                font-weight: bold;
                min-height: 145px;

                .header-main {
                    flex-direction: column;
                    flex: 0 1 106px; // ширину поменял
                    align-items: start;

                    .main-logo {
                        min-width: 98px;
                        flex: 0 0 24px;
                    }

                    .main-menu {
                        flex: 0 0 61px;

                        .menu-list {
                            flex-direction: column;

                        }
                    }

                }

                .header-search {
                    flex: 0 0 25px;
                    margin-top: 16px; // изменили
                    width: 100%;
                }

            }
        }

    }

    .logo-link {
        color: $color-white;
    }

    .content-container {
        @include pg-section($pg-180, $pg-20, $pg-181, $pg-20);

        .title-h1-index {
            margin-top: $mg-48;
        }

        .title-h2-index {
            margin-bottom: 0;
        }

        .p-text-index {
            margin: 16px 0;
        }

        .input-banner {
            flex: 0 1 100%;
        }

        .banner-form {
            justify-content: center;

            .input-banner,
            .button-green {
                min-width: 100%;
                margin-left: 0;
                margin-right: 0;
            }

            .button-green {
                padding: 21px 30px;
            }
        }
    }
// }