.content-container-app {
    @extend %content-container;
    @include pg-section($pg-100, 20px, 0, 20px);
    margin-bottom: 100px;
}

.bg-wrapper-app {
    background-color: $bg-black; // надо ли указывать ??
}

.title-app {
    margin-bottom: 48px;
}

.col-app {
    flex: 0 1 50%;
}

// .text-app:last-of-type{
//     margin-bottom: 0;
// }

.button-app {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 131px;
    height: 53px;

    border: none;
    border-radius: 32px;
    background-color: $bg-orange;
    color: $color-white;
    cursor: pointer;
    
    font-family: "Roboto", sans-serif;
    font-size: 12.8px;
    text-decoration: none;    

    // margin-top: 16px;
}

.img-app {
    position: relative;
    top: 0;
   right: -123px;     // 6 пикселей не идет по общей высоте - наверное картинка
}


@media (max-width: 729px) {
    .content-container-app {
        width: 414px;
    }


    // .bg-wrapper-app {
    //     padding: 0 20px;
    // }

    .fz-h2 {
        @include title-font($fx-title-mob-h2);
    }
    .wrapper-app {
        flex-direction: column-reverse;
    }

    .title-app {
        margin-bottom: 48px;
    }

    .col-app {
        margin: 0 auto;

    }

    .img-app {
        position: static;
        vertical-align: middle;
    }

    // .button-app {
    //     margin-top: 15px;
    // }


}
    

   