.col-app {
    flex: 0 1 50%;
}

.button-app-style {
    border-radius: 32px;
    background-color: $bg-orange;
    color: $color-white;
    text-transform: none;
}

.button-app {
    padding: 17px 40px;
}

@media (width <=650px) {
    .wrapper-app {
        flex-direction: column-reverse;
    }

    // .img-app {
    //     vertical-align: middle;
    // }

    // .col-app {
    //     margin: 0 auto;
    //     max-width: 100%;
    // }
}