.content-container-pricing {
    @extend %content-container; 
    @include pg-section($pg-100, 0, 0, 0);  //  в макете 101
}

.bg-wrapper-pricing {
    background-color: $bg-black;  // надо ли указывать ??
}




.pricing {
    // max-width: 100%;
    margin: 45px 0 43px 0;
}

// Карточка

.bg-free {
    background: url("../images/subscribe_1.png");
    background-position: center;
    background-size: cover;
}
.bg-standart {
    background: url("../images/subscribe_2.png");
    background-position: center;
    background-size: cover;
}
.bg-premium {
    background: url("../images/subscribe_3.png");
    background-position: center;
    background-size: cover;
}
.pricing-item {
    max-width: 30.75%;
    // flex: 0 1 369px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem;   

    border-radius: 1rem;
}
.fz-h3 {
    @include title-font($fz-title-h3);
    font-weight: 400;
    margin: 24px 0 200px 0;
}
.pricing-value {
    margin: 0 0 40px 0;
    line-height: 1em;
    display: flex;
    align-items: start;

    text-transform: uppercase;
    color: $color-white;    
}
.pricing-value span:first-child {
    font-size: 64px;
    line-height: 64px;
    font-weight: 400;
    margin-right: 16px;
}
.pricing-value span:last-child {
    font-size: 32px;
    line-height: 32px;
    font-weight: 400;
}
.p-text-pricing {
    // margin: 43px 0 0 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    text-align: center;
}
.link-price {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 66px; 
        
    text-decoration: none;    
    border: 1px solid var(--White, #FFF); 
    color: $color-white;   
}
.p-pricing-footer {
    margin: 64px 0;
}


.p-pricing-footer {
    font-size: 12.8px;
    font-weight: 400;

}

@media (max-width: 610px) {
    .fz-h3 {
        @include title-font($fx-title-mob-h3);
        margin-top: 16px;
    }
    .pricing-value span:first-child {
        font-size: 48px;
       
    }
    
    .pricing-value span:last-child {
        font-size: 24px;
      
    }



}


@media (max-width: 480px) {
    
    .fz-h2 {
        @include title-font($fx-title-mob-h2);
    }
    .fz-h3 {
        @include title-font($fx-title-mob-h3);
    }
    .pricing-title {
        margin: 16px 0 200px 0;
    }

    .bg-wrapper-pricing {
        padding: 0 $pg-20;
    }

    .pricing {
        flex-direction: column;
        margin: 46px 0 40px 0;

    }

    .pricing-item {
        max-width: 100%;
        margin-bottom: 50px;
        &:last-child {
            margin-bottom: 0px;
        }
    }

    // .p-text-pricing {
    //     margin: 40px 0 0 0;
    // }

    .pricing-value span:first-child {
        font-size: 64px;
       
    }
    
    .pricing-value span:last-child {
        font-size: 32px;
      
    }


}