$fz: 16px;
$lh: 1.5;
$bg-banner: "banner";
$bg-artist: "Morten Harket";
$pg-200: 200px;
$pg-250: 250px;
$pg-100: 100px;
$pg-20: 20px;
$pg-0: 0;
$mg-24: 24px;
$fz-title-h1: 60px;
$fz-title-h2: 38px;
$fx-title-mob-h1: 30px;
$fx-title-mob-h2: 18px;

//цвета шрифтов:

$color-white: #FFFFFF;
$color-white-light: #E0E0E0;
$color-gray: #757575;
$color-gray-light: #CACACA;
$color-orange: #F89202;

// цвета фона

$bg-gray: #3C3B3D;
$bg-black: #08020D;
$bg-orange: #95390C;
$bg-gradient-footer: linear-gradient(265deg, #95390C 14.9%, #5328A1 68.95%);
$bg-blue: #5328A1;
$bg-green: #34C176;

